{% extends 'base.html' %}
{% block content %}
<div id="contents">

<section>

<h3>{{ laboratory.laboratory_name }}研究室マイページ</h3>
{% if laboratory_info is None %}
<li><a href="{% url 'register_lab:register' %}">研究室登録</a></li>
{% endif %}

<li><a href="{% url 'accounts:logout' %}">ログアウト</a></li>
<li><a href="{% url 'mypage:mypage' %}">マイページに戻る</a></li>
<li><a href="{% url 'index' %}">ホームに戻る</a></li>
<li><a href="{% url 'contact_form:index' %}">お問い合わせ</a></li>
{% if laboratory_info %}
<li><a href="{% url 'laboratory_page:labdata_update' laboratory_info.pk %}">記載研究室情報編集</a></li>
<li><a href="{% url 'laboratory_page:lab_info_delete' %}">記載研究室情報削除</a></li>
{% endif %}
<li><a href="{% url 'register_lab:paper_upload' %}">論文アップロード</a></li>
<li><a href="{% url 'register_lab:image_upload' %}">画像アップロード</a></li>
<h2>記載論文リスト</h2>
    <table>
    <tr>
        <td>タイトル</td>
        <td>詳細</td>
        <td></td>
    </tr>
      {% for paper in paper_list %}
          <tr>
              <td>{{ paper.paper_title }}</td>
              <td>{{ paper.paper_info }}</td>
              <td><a href="{% url 'search:paper_download' paper.pk %}">ダウンロード</a></td>
              <td><a href="{% url 'register_lab:paper_delete' paper.pk %}">削除</a><br></td>
          </tr>
      {% endfor %}
    </table>
<h2>記載写真リスト</h2>
    <table>
    <tr>
        <td>タイトル</td>
        <td></td>
    </tr>
      {% for image in image_list %}
          <tr>
              <td>{{ image.title }}</td>
              <td><img src='media/{{image.picture}}' width=200></td>
              <td><a href="{% url 'register_lab:image_delete' image.pk %}">削除</a><br></td>
          </tr>
      {% endfor %}
    </table>
<h2>お気に入り登録者</h2>
    <table>
    <tr>
        <td>氏名</td>
        <td>学校</td>
        <td>学部・研究科</td>
        <td></td>
    </tr>
      {% for user in liked_by %}
          {% if user.favorite_laboratory_notification and user.is_active %}
          <tr>
              <td>{{ user.last_name }}</td>
              <td>{{ user.university }}</td>
              <td>{{ user.department }}</td>
                <td><a href="{% url 'laboratory_page:laboratory_favorite_user' user.pk %}">詳細</a></td>
                <td><a href="{% url 'chat:chat_between_user_and_user' user.pk %}">チャットをする</a></td>
          </tr>
          {% endif %}
      {% endfor %}
    </table>

<h2>通知リスト</h2>
    <table>
      {% for notification in lab_notifications %}
          <tr>
              <td>{{ notification.title }}</td>
              <td>{{ notification.kind_of_notification }}</td>
              <td>{{ notification.send_user.last_name }}</td>
              <td><a href="{% url 'laboratory_page:notification' notification.pk %}">詳細</a></td>
          </tr>
      {% endfor %}
    </table>

    <h2>登録メンバー</h2>
    <ul>
      {% for member in laboratory_members %}
              <li>{{ member.last_name }}  {{ member.first_name }}</li>
      {% endfor %}
    </ul>

</section>

</div>
<!--/#contents-->
{% endblock %}