{% load static %}
<footer>

<div id="footermenu">
<ul>
<li class="title">Lab Libraryについて</li>
<li><a href="{% url "about" %}">Lab Libraryとは</a></li>
<li><a href="{% url "about_administrator" %}">管理者について</a></li>
</ul>
<ul>
<li class="title">コンテンツ</li>
<li><a href="{% url 'search:search' %}">研究室検索</a></li>
<li><a href="{% url 'blog:index' %}">院試情報</a></li>
<li><a href="{% url 'articles:index' %}">院試特集</a></li>
<li><a href="{% url 'mypage:mypage' %}">マイページ</a></li>
</ul>
<ul>
<li class="title">当サイトについて</li>
<li><a href="{% url 'disclaimer' %}">著作権・免責事項</a></li>
<li><a href="{% url 'privacy_policy' %}">プライバシーポリシー</a></li>
<li><a href="{% url 'terms_of_service' %}">利用規約</a></li>
<li><a href="{% url 'contact_form:index' %}">お問い合わせ</a></li>
<li><a href="{% url 'feedback:index' %}">ベータ版へのフィードバック</a></li>
</ul>
<ul>
<li class="title">研究室の方へ</li>
<li><a href="{% url 'index_for_lab' %}">研究室ホーム</a></li>
<li><a href="{% url 'laboratory_page:lab_page_home' %}">研究室専用ページ</a></li>
</ul>
</div>
<!--/#footermenu-->

<div id="copyright">
<small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>
<!--/#copyright-->

</footer>

