{% load static %}
<header>
<h1 id="logo"><a href="{% url 'index' %}"><img src="{% static "images/logo.png"%}" alt="SAMPLE COMPANY"></a></h1>
<!--PC用（901px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li><a href="{% url "about" %}">Lab Libraryとは</a></li>
<li><a href="{% url 'search:search' %}">研究室検索</a></li>
<li><a href="{% url 'blog:index' %}">入試情報一覧</a></li>
<li><a href="{% url 'articles:index' %}">院試特集</a></li>
<li><a href="{% url 'mypage:mypage' %}">マイページ</a></li>
</ul>
</nav>
<!--小さい端末用（900px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li><a href="{% url "about" %}">Lab Libraryとは</a></li>
<li><a href="{% url 'search:search' %}">研究室検索</a></li>
<li><a href="{% url 'blog:index' %}">入試情報一覧</a></li>
<li><a href="{% url 'articles:index' %}">院試特集</a></li>
<li><a href="{% url 'mypage:mypage' %}">マイページ</a></li>
</ul>
</nav>
<ul class="icon">
<li><a href="#"><img src="{% static "images/icon_facebook.png"%}" alt="Facebook"></a></li>
<li><a href="#"><img src="{% static "images/icon_twitter.png"%}" alt="Twitter"></a></li>
<li><a href="#"><img src="{% static "images/icon_instagram.png"%}" alt="Instagram"></a></li>
<li><a href="#"><img src="{% static "images/icon_youtube.png"%}" alt="TouTube"></a></li>
</ul>
</header>
