{% extends 'base.html' %}
{% block content %}
    <h2>学生マイページ</h2>
    ようこそ。{{ user.last_name }} {{ user.first_name }}さん
    <ul>
    <li><a href="{% url 'contact_form:index' %}">管理者へお問い合わせ</a></li>
    <li><a href="{% url 'accounts:logout' %}">ログアウト</a></li>
    {% if not user_profile %}
    <li><a href="{% url 'mypage:create_user_profile' %}">プロフィール作成</a></li>
    {% else %}
    <li><a href="{% url 'mypage:user_profile_update' user_profile.pk%}">プロフィール編集</a></li>
    {% endif %}
    </ul>

    <h2>お気に入り研究室</h2>
    <ul>
        {% for favorite_lab in favorite_laboratory %}
            <li>{{ favorite_lab.laboratory.laboratory_name }}<a href="{% url 'search:detail' lab_pk=favorite_lab.pk %}">研究室詳細</a></li>
        {% endfor %}
    </ul>
    {% if user_profile %}
    <a href="{% url 'mypage:user_profile' %}">プロフィール</a>
    {% endif %}
    <a href="{% url 'mypage:change_favorite_laboratory_notification_confirm' %}">お気に入り通知を変更する</a>

    <h2>チャット</h2>
    {% if chat_with is not None %}
        {% for talk_to in chat_with %}
            {% if talk_to.receive_user.first_name != user.first_name %}
            {{ talk_to.receive_user.first_name }}
            <a href="{% url 'chat:chat_between_user_and_user' talk_to.receive_user.pk %}">チャットをする</a>
            <br>
            {% endif %}
        {% endfor %}
    {% endif %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}