{% extends 'base.html' %}
{% block content %}
<h2>お問い合わせ</h2>
   <form method="post">
     {% csrf_token %}
     {{ form.non_field_errors }}

     {% for field in form %}
       <div>
         <label for="{{ field.id_for_label }}">
           {{ field.label_tag }}
         </label>
         <div>
           {{ field }}
           {{ field.errors }}
         </div>
       </div>
     {% endfor %}
     <button type="submit">送信</button>
   </form>

<h2>ベータ版へのフィードバック</h2>
<a href="{% url 'feedback:index' %}">ベータ版へのフィードバック</a>
<h2>退会</h2>
<a href="{% url 'accounts:user_delete_confirm' %}">退会する</a>
{% endblock %}