{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="contents">

        {% if follow_complete %}
            お気に入りに登録しました。
        {% endif %}
        {% if remove_follow_complete %}
            お気に入りから削除しました。
        {% endif %}

        <h3 style="padding: 1rem 2rem;border-left: 6px double #000; font-size: 200%">{{ laboratory_info }}</h3>
    <h2>記載写真リスト</h2>
    <table>
    <tr>
        <td>タイトル</td>
        <td></td>
    </tr>
      {% for image in image_list %}
                {#なんでMEDIA_ROOTが読み込まれないん？#}
{#              <img src='http://127.0.0.1:8000/laboratory_page/media/{{image.picture}}'>#}
              <img src='/../../laboratory_page/media/{{image.picture}}'>
      {% endfor %}
    </table>

    <h2>研究室詳細<span>Detail</span></h2>
        <h3>大学</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory.belong_university }}
            </div>
        <h3>学部・研究科</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory.belong_faculty }}
            </div>
        <h3>学科・専攻</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory.belong_department }}
            </div>
        <h3>研究キーワード</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.research_keywords }}
            </div>
        <h3>研究詳細</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.research_info }}
            </div>
        <h3>キャンパス</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.campus }}
            </div>
        <h3>研究室HP</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.laboratory_website }}
            </div>
        <h3>担当教員</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.professor_name }}
            </div>
        <h3>生徒数</h3>
            <div style="margin: 60px 20px;">
                <table>
                            <tr>
                                <td>全体</td>
                                <td>{{ laboratory_info.all_student_count }}人</td>
                            </tr>
                            <tr>
                                <td>修士</td>
                                <td>{{ laboratory_info.master_count }}人</td>
                            </tr>
                            <tr>
                                <td>博士</td>
                                <td>{{ laboratory_info.doctor_count }}人</td>
                            </tr>
                    </table>
            </div>
        <h3>進学先・就職先</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.after_graduation }}
            </div>
        <h3>院生受け入れ状況</h3>
            <div style="margin: 60px 20px;">
                <table>
                            <tr>
                                <td>修士</td>
                                <td>{{ laboratory_info.master_acceptance }}</td>
                            </tr>
                            <tr>
                                <td>博士</td>
                                <td>{{ laboratory_info.doctor_acceptance }}</td>
                            </tr>
                            <tr>
                                <td>社会人</td>
                                <td>{{ laboratory_info.adult_graduate_student_acceptance }}</td>
                            </tr>
                    </table>
            </div>
        <h3>研究室の空気</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.environment }}
            </div>
        <h3>内部生外部生の割合</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.students_rate }}
            </div>
        <h3>就職しやすい空気かどうか</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.Employment_rate }}
            </div>
        <h3>ページ作成日</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.page_create_date }}
            </div>
        <h3>ページ更新日</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.page_update_date }}
            </div>
        <h3>情報源</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.information_source }}
            </div>
        <h3>サイト運営による情報の確認</h3>
            <div style="margin: 60px 20px;">
                {{ laboratory_info.confirmation }}
            </div>
        <h3>投稿論文</h3>
            <a href="{% url 'search:research_paper_list' lab_pk=laboratory_info.pk%}">投稿論文一覧</a>
            <h2>メンバー</h2>
    <ul>
            {% for member in laboratory_member %}
                <li>{{ member.last_name }}  {{ member.status_position }}</li>
            {% endfor %}
    </ul>
        <h2>研究室に問い合わせ</h2>
        <a href="{% url 'search:send_message_for_lab' laboratory_info.pk %}">研究室に問い合わせる</a>
            <div style="margin: 60px 20px;">
                <a href="{{ laboratory_info.information_source }}" target="_blank">研究室HPへ</a>
            </div>

            {% if laboratory_info.id not in user_favorite_laboratories_id %}
                <form action="{% url 'search:follow' laboratory_info.pk %}" method="post">
                    <button type="submit" name="button">お気に入り追加</button>
                    {% csrf_token %}
                </form>
            {% endif %}

            {% if laboratory_info.id in user_favorite_laboratories_id %}
                <form action="{% url 'search:remove_follow' laboratory_info.pk %}" method="post">

                    <button type="submit" name="button">お気に入り削除</button>
                    {% csrf_token %}
                </form>
            {% endif %}

            <div style="text-align: center; margin-top: 50px">
                <a href="javascript:history.back();">前のページに戻る</a>
            </div>
            <div style="text-align: center; margin-top: 50px">
                <a href="{% url 'index' %}">トップページに戻る</a>
            </div>
        </div>

{% endblock %}