{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h2>研究室検索<span>Search</span></h2>
    <div class="col-20">
        <form action="" method="POST">
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">検索</button>
        </form>
    </div>

    {% if filtering %}

        <h2 style="padding: 1rem 2rem;border-left: 5px solid #000;  background: #f4f4f4; color: black">条件検索</h2>
        {% if lab_list %}
            {% for lab in lab_list %}
                <div class="list">
                    {% if lab.image %}
                        <figure><img src='media/{{lab.image.picture}}' alt=""></figure>
                    {% else %}
                    <figure><img src="{% static "images/sample1.jpg" %}" alt=""></figure>
                    {% endif %}
                    <div class="text">
                        <h4 style="font-size: 150%">{{ lab.laboratory }}</h4>
                        <table style="border-collapse: collapse;  border-spacing: 0;  width: 100%;">
                            <tr style="border-bottom: solid 1px #eee;  cursor: pointer;">
                                <th style="width: 10%;  padding: 5px 0; color: white">大学</th>
                                <th style="width: 25%;  padding: 5px 0; color: white">{{ lab.laboratory.belong_university }}</th>
                            </tr>
                            <tr style="border-bottom: solid 1px #eee;  cursor: pointer;">
                                <th style="width: 10%;  padding: 5px 0; color: white">専攻・学科</th>
                                <th style="width: 25%;  padding: 5px 0; color: white">{{ lab.laboratory.belong_department }}</th>
                            </tr>
                            <tr style="border-bottom: solid 1px #eee;  cursor: pointer;">
                                <th style="width: 10%;  padding: 5px 0; color: white">研究室テーマ<br>研究キーワード</th>
                                <th style="width: 25%;  padding: 5px 0; color: white">{{ lab.research_keywords }}</th>
                            </tr>

                        </table>
                        <p class="btn1"><a href="{% url 'search:detail' lab_pk=lab.pk %}">研究室詳細</a></p>
                    </div>
                </div>
            {% endfor %}


{#            <!-- 前へ の部分 -->#}
{#    {% if page_obj.has_previous %}#}
{#        <a href="?page={{ page_obj.previous_page_number }}">前へ</a>#}
{#    {% endif %}#}
{##}
{#    <!-- 1/3 の部分 -->#}
{#   {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}#}
{##}
{#    <!-- 次へ の部分 -->#}
{#    {% if page_obj.has_next %}#}
{#        <a href="?page={{ page_obj.next_page_number }}">次へ</a>#}
{#    {% endif %}#}



        {% else %}
            条件に合う研究室がありません。
        {% endif %}
    {% endif %}

    <div style="text-align: center; margin-top: 50px">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>

    {#  ここから先、必要javascript  #}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        const universityCategoryElement = $('#id_university');
        console.log(universityCategoryElement)
        const facultyCategoryElement = $('#id_faculty');
        console.log(facultyCategoryElement)
        const departmentCategoryElement = $('#id_department');
        console.log(departmentCategoryElement)
        const laboratoryCategoryElement = $('#id_laboratory');
        console.log(laboratoryCategoryElement)

        const faculty_categories = {
            {%  for parent in university %}
                '{{ parent.id }}': [
                    {% for category in parent.faculty_in_university.all %}
                        {
                            'pk': '{{ category.pk }}',
                            'name': '{{ category.faculty }}'
                        },
                    {% endfor %}
                ],
            {% endfor %}
        }

        console.log(faculty_categories)

        const changeFacultyCategory = (select) => {
            // 子カテゴリの選択欄を空にする。
            facultyCategoryElement.children().remove();

            // 選択した親カテゴリに紐づく子カテゴリの一覧を取得する。
            const universityId = universityCategoryElement.val();
            const categoryList = faculty_categories[universityId];

            // 子カテゴリの選択肢を作成・追加。
            for (const category of categoryList) {
                const option = $('<option>');
                option.val(category['pk']);
                option.text(category['name']);
                facultyCategoryElement.append(option);
            }

            // 指定があれば、そのカテゴリを選択する
            if (select !== undefined) {
                facultyCategoryElement.val(select);
            }
        };


        $('#id_university').on('change', () => {
            changeFacultyCategory();
        });


        // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
        if (universityCategoryElement.val()) {
            const selectedCategory = facultyCategoryElement.val();
            changeFacultyCategory(selectedCategory);
        }



        const department_categories = {
            {%  for parent in faculty %}
                '{{ parent.id }}': [
                    {% for category in parent.department_in_faculty.all %}
                        {
                            'pk': '{{ category.pk }}',
                            'name': '{{ category.department }}'
                        },
                    {% endfor %}
                ],
            {% endfor %}
        }

        console.log(department_categories)

        const changeDepartmentCategory = (select) => {
            // 子カテゴリの選択欄を空にする。
            departmentCategoryElement.children().remove();

            // 選択した親カテゴリに紐づく子カテゴリの一覧を取得する。
            const facultyId = facultyCategoryElement.val();
            const categoryList = department_categories[facultyId];

            // 子カテゴリの選択肢を作成・追加。
            for (const category of categoryList) {
                const option = $('<option>');
                option.val(category['pk']);
                option.text(category['name']);
                departmentCategoryElement.append(option);
            }

            // 指定があれば、そのカテゴリを選択する
            if (select !== undefined) {
                departmentCategoryElement.val(select);
            }
        };


        $('#id_faculty').on('change', () => {
            changeDepartmentCategory();
        });


        // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
        if (facultyCategoryElement.val()) {
            const selectedCategory = departmentCategoryElement.val();
            changeDepartmentCategory(selectedCategory);
        }



        const categories = {
            {% for parent in department %}

                '{{ parent.pk }}': [
                    {% for category in parent.lab_in_department.all %}
                        {
                            'pk': '{{ category.pk }}',
                            'name': '{{ category.laboratory_name }}'
                        },
                    {% endfor %}
                ],
            {% endfor %}
        };


        {% for parent in department %}
            console.log('{{ parent.lab_in_department.all }}')
            console.log(parent.name);
            {% for category in parent.category_set.all %}
                console.log(category);
            {% endfor %}
        {% endfor %}

        console.log(categories);

        const changeCategory = (select) => {
            // 子カテゴリの選択欄を空にする。
            laboratoryCategoryElement.children().remove();

            // 選択した親カテゴリに紐づく子カテゴリの一覧を取得する。
            const departmentId = departmentCategoryElement.val();
            const categoryList = categories[departmentId];

            // 子カテゴリの選択肢を作成・追加。
            for (const category of categoryList) {
                const option = $('<option>');
                option.val(category['pk']);
                option.text(category['name']);
                laboratoryCategoryElement.append(option);
            }

            // 指定があれば、そのカテゴリを選択する
            if (select !== undefined) {
                laboratoryCategoryElement.val(select);
            }
        };


        $('#id_department').on('change', () => {
            changeCategory();
        });


        // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
        if (departmentCategoryElement.val()) {
            const selectedCategory = laboratoryCategoryElement.val();
            changeCategory(selectedCategory);
        }

    </script>


    {#  ここまで　#}


{% endblock %}