{% load static %}
<html lang="ja">
<head>
<meta charset="
UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ビジネスサイト・企業向け 無料ホームページテンプレート tp_biz54</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static "css/style.css"%}">
<script src="{% static "js/openclose.js"%}"></script>
<script src="{% static "js/fixmenu_pagetop.js"%}"></script>
<script src="{% static "js/ddmenu_min.js"%}"></script>
<!--[if lt IE 10]>
<style>
.slide0,.slide2,.slide3 {display:none;}
</style>
<![endif]-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
{#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">#}

</head>
<body>
<header>
<h1 id="logo"><a href="{% url 'index' %}"><img src="{% static "images/logo.png"%}" alt="SAMPLE COMPANY"></a></h1>
<!--PC用（901px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li><a href="{% url "about" %}">Lab Libraryとは</a></li>
<li class="ddmenu-title">研究室検索
	<ul class="ddmenu">
{#	<li><a href="service.html">サービスメニュー</a></li>#}
{#	<li><a href="service.html">サービスメニュー</a></li>#}
    <li><a href="{% url 'search:search' %}">キーワード検索</a></li>
    <li><a href="{% url 'search:search' %}">カテゴリー検索</a></li>
	</ul>
</li>
<li><a href="recruit.html">研究室PR(準備中)</a></li>
<li><a href="contact.html">Contact</a></li>
<li><a href="{% url 'register_lab:register' %}">研究室登録</a></li>
</ul>
</nav>
<!--小さい端末用（900px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li><a href="about.html">Company</a></li>
<li id="menubar_hdr2" class="close">Service
	<ul id="menubar-s2">
	<li><a href="service.html">サービスメニュー</a></li>
	<li><a href="service.html">サービスメニュー</a></li>
	<li><a href="service.html">サービスメニュー</a></li>
	</ul>
</li>
<li><a href="recruit.html">Recruit</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</nav>
<ul class="icon">
<li><a href="#"><img src="{% static "images/icon_facebook.png"%}" alt="Facebook"></a></li>
<li><a href="#"><img src="{% static "images/icon_twitter.png"%}" alt="Twitter"></a></li>
<li><a href="#"><img src="{% static "images/icon_instagram.png"%}" alt="Instagram"></a></li>
<li><a href="#"><img src="{% static "images/icon_youtube.png"%}" alt="TouTube"></a></li>
</ul>
</header>

<div id="contents">

<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
<h2>研究室検索<span>Search</span></h2>
<div class="col-20">
    <form  method="post">
      <div class="form-group">
        {% csrf_token %}
        {% for item in form %}
        <div class="col-12 form-group">
            <label class="col-sm-2 col-form-label col-form-label-lg" for="{{item.id_for_label}}">{{item.label}}</label>
            <input
                type="{{item.field.widget.input_type}}"
                class="col-6 form-control"
                name="{{item.name}}"
                id="{{item.id_for_label}}"
                placeholder="ここに検索ワードを入力してください">
            <input type="text" name="dummy" style="display:none;">
        </div>
        {% endfor %}
{#        {{ form }}#}
      　<button class="btn-success btn" name="laboratory_search" type="submit">検索</button>
      </div>
    </form>
</div>

{% if search_text %}

    <h2 style="padding: 1rem 2rem;border-left: 5px solid #000;  background: #f4f4f4; color: black">検索キーワード：{{ search_text }}</h2>
    {% for lab in lab_list %}
        <div class="list">
        <figure><img src="{% static "images/sample1.jpg"%}" alt=""></figure>
        <div class="text">
        <h4 style="font-size: 150%">{{ lab.lab_name }}</h4>
            <table style="border-collapse: collapse;  border-spacing: 0;  width: 100%;">
                <tr style="border-bottom: solid 1px #eee;  cursor: pointer;">
                    <th style="width: 10%;  padding: 5px 0; color: white">大学</th>
                    <th style="width: 25%;  padding: 5px 0; color: white">{{ lab.laboratory.university }}</th>
                </tr>
                <tr style="border-bottom: solid 1px #eee;  cursor: pointer;">
                    <th style="width: 10%;  padding: 5px 0; color: white">専攻・学科</th>
                    <th style="width: 25%;  padding: 5px 0; color: white">{{ lab.laboratory.department }}</th>
                </tr>
                <tr style="border-bottom: solid 1px #eee;  cursor: pointer;">
                    <th style="width: 10%;  padding: 5px 0; color: white">研究室テーマ<br>研究キーワード</th>
                    <th style="width: 25%;  padding: 5px 0; color: white">{{ lab.laboratory.research_keywords }}</th>
                </tr>

            </table>
        <p class="btn1"><a href="{% url 'search:detail' lab_pk=lab.pk%}">研究室詳細</a></p>
        </div>
        </div>
    {% endfor %}
{% endif %}

    <div style="text-align: center; margin-top: 50px">
      <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
</div>

<footer>

<div id="footermenu">
<ul>
<li class="title">タイトル</li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
</ul>
<ul>
<li class="title">タイトル</li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
</ul>
<ul>
<li class="title">タイトル</li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
</ul>
<ul>
<li class="title">タイトル</li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
<li><a href="#">メニューサンプルメニューサンプル</a></li>
</ul>
</div>
<!--/#footermenu-->

<div id="copyright">
<small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>
<!--/#copyright-->

</footer>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理条件設定　900px以下-->
<script>
if (OCwindowWidth() <= 900) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

<!--子メニュー-->
<script>
if (OCwindowWidth() <= 900) {
	open_close("menubar_hdr2", "menubar-s2");
}
</script>

</body>
</html>