{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="
UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ビジネスサイト・企業向け 無料ホームページテンプレート tp_biz54</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static "css/style.css"%}">
<script src="{% static "js/openclose.js"%}"></script>
<script src="{% static "js/fixmenu_pagetop.js"%}"></script>
<script src="{% static "js/ddmenu_min.js"%}"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<header>
<h1 id="logo"><a href="{% url 'index' %}"><img src="{% static "images/logo.png"%}" alt="SAMPLE COMPANY"></a></h1>
<!--PC用（901px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li><a href="{% url "about" %}">Lab Libraryとは</a></li>
<li class="ddmenu-title">研究室検索
	<ul class="ddmenu">
{#	<li><a href="service.html">サービスメニュー</a></li>#}
{#	<li><a href="service.html">サービスメニュー</a></li>#}
    <li><a href="{% url 'search:search' %}">キーワード検索</a></li>
    <li><a href="{% url 'search:search' %}">カテゴリー検索(準備中)</a></li>
	</ul>
</li>
<li><a href="{% url 'blog:index' %}">コラム</a></li>
<li><a href="{% url 'contact_form:index' %}">Contact</a></li>
<li><a href="{% url 'mypage:mypage' %}">マイページ</a></li>
</ul>
</nav>
<!--小さい端末用（900px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li><a href="about.html">Company</a></li>
<li id="menubar_hdr2" class="close">Service
	<ul id="menubar-s2">
	<li><a href="service.html">サービスメニュー</a></li>
	<li><a href="service.html">サービスメニュー</a></li>
	<li><a href="service.html">サービスメニュー</a></li>
	</ul>
</li>
<li><a href="recruit.html">Recruit</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</nav>
<ul class="icon">
<li><a href="#"><img src="{% static "images/icon_facebook.png"%}" alt="Facebook"></a></li>
<li><a href="#"><img src="{% static "images/icon_twitter.png"%}" alt="Twitter"></a></li>
<li><a href="#"><img src="{% static "images/icon_instagram.png"%}" alt="Instagram"></a></li>
<li><a href="#"><img src="{% static "images/icon_youtube.png"%}" alt="TouTube"></a></li>
</ul>
</header>

<div id="contents">

<section>

    <!-- メインコンテント -->
    <h2>研究室会員登録</h2>
    <div class="container mt-3">
<form action="" method="POST">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-lg">送信</button>
</form>
    </div>
<ul>
    <li><a href="{% url 'accounts:university_create' %}">大学がないときはこちら</a></li>
    <li><a href="{% url 'accounts:university_area_create' %}">都道府県がないときはこちら****************************</a></li>
    <li><a href="{% url 'accounts:faculty_create' %}">学部がないときはこちら</a></li>
    <li><a href="{% url 'accounts:department_create' %}">学科・専攻がないときはこちら</a></li>
    <li><a href="{% url 'accounts:laboratory_create' %}">研究室がないときはこちら</a></li>
</ul>
</section>

</div>
<!--/#contents-->

<footer>

<div id="footermenu">
<ul>
<li class="title">Lab Libraryについて</li>
<li><a href="{% url "about" %}">Lab Libraryとは</a></li>
</ul>
<ul>
<li class="title">研究室検索</li>
<li><a href="{% url 'search:search' %}">キーワード検索</a></li>
<li><a href="{% url 'search:search' %}">カテゴリー検索(準備中)</a></li>
<li>研究室PR(準備中)</li>
</ul>
<ul>
<li class="title">お問い合わせ</li>
<li><a href="{% url 'contact_form:index' %}">Contact</a></li>
</ul>
<ul>
<li class="title">研究室の方へ</li>
<li><a href="{% url 'register_lab:register' %}">研究室登録はこちら</a></li>
</ul>
</div>
<!--/#footermenu-->

<div id="copyright">
<small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>
<!--/#copyright-->

</footer>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理条件設定　900px以下-->
<script>
if (OCwindowWidth() <= 900) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

<!--子メニュー-->
<script>
if (OCwindowWidth() <= 900) {
	open_close("menubar_hdr2", "menubar-s2");
}
</script>

</body>
</html>
