{% extends 'base.html' %}
{% block content %}
<div id="contents">
    <h2>研究室登録<span>Register</span></h2>

        <div class="container">
            <div class="jumbotron">
                <h1>welcome</h1>
                <ul>
                    <li>研究室名：{{ laboratory.laboratory_name }}</li>
                    <li>大学：{{ laboratory.belong_university }}</li>
                    <li>学部：{{ laboratory.belong_faculty }}</li>
                    <li>学科・専攻：{{ laboratory.belong_department }}</li>

                </ul>
                <form method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>
</div>
{% endblock %}